# IntelliJ IDEA trash files
.idea
*.iml
out

# Personnal Intellij IDEA trash files
LyreLand.ipr
LyreLand.iws

# Personal Score
Analysis_Music/*/*.pdf

# Ignore .mid files
*.mid

# Maven Target dir
target

# Soundfonts and sounds
*.sf2
*.SF2
*.wav
*.mp3

# Java Bytecode Files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
