# IntelliJ IDEA trash files
.idea
*.iml
out

# Personnal Intellij IDEA trash files
LyreLand.ipr
LyreLand.iws

# Personnal dev scores
assets/midi/dev_midi/scores/*
assets/training

# Personal Score
Analysis_Music/*/*.pdf

# Maven Target dir
target

# sounds
*.wav
*.mp3

# Java Bytecode Files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.pdf
