<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container text-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EUyZxxuFF0s"></iframe>
        </div>
    </div><!--//container-->
</section><!--//features-->